.aside-current-user-listings {
  overflow-y: scroll;
  width: 100%;
}

.userListing {
  padding-top: 10px;
}

.sub-rental {
  word-wrap: break-word;
  width: 260px;
  padding: 10px;
  border: solid 1px #5AB475;
  border-radius: 5px;
  margin: 10px;
}

.sub-rentals {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 20px;

  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.listing-sub-header {
  font-family: 'Fjalla One', sans-serif;
}

.red {
  color: red;
}

.user-listing-sub-header {
  font-family: 'Fjalla One', sans-serif;
  padding-top: 20px;
  font-size: 120%;
}

.user-rental-sub-header {
  font-family: 'Fjalla One', sans-serif;
}

.current-user-rental {
  width: 310px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #5AB475;
  border-radius: 5px;
  padding-top: 20px;
  word-wrap: break-word;
}

.current-user-rentals {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.user-listing {
  width: 100%;
}
