.gear-dropdown {
	color: white;
	position: absolute;
	top: 45px;
  right: 8px;
	background-color: #5AB475;
	border: 1px solid white;
	border-radius: 12px;
	padding: 10px;
	width: 225px;
	z-index: 1;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
	font-weight: initial;
	font-size: 100%;
}

.gear-dropdown .sections  {
	border-bottom: 1px solid grey;
	font-size: 100%;
}

.gear-dropdown .sections li,
.gear-dropdown .help li {
	margin: 5px 0;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
	font-size: 100%;
}

.gear-dropdown a {
	display: block;
	padding: 5px 5px;
	color: white;
	font-size: 100%;
}

.sections a {
	text-decoration: none;
	color: white;
	font-size: 100%;
}

.help a {
	text-decoration: none;
}

.help a:hover {
	background-color: grey;
	text-decoration: underline;
}

a.dropdown:hover {
	background-color: grey;
	text-decoration: underline;
}

.gear-dropdown .help li {
	color: white;
	font-size: 100%;
}

.gear-dropdown .sections li:hover {
	background-color: grey;
	font-size: 100%;
	text-decoration: underline;
}

.dropdown-subtitle {
	flex-flow: column;
	font-size: 11px;
	font-weight: bolder;
	margin: 10px 5px;
	display: block;
	font-size: 100%;
}

a.gear-item {
	text-shadow: 5px 5px 10px rgba(0,0,0,.2);
}


a.profile {
	text-align: center;
	background-color: white;
	border-radius: 5px;
	color: black;
	font-family: 'Fjalla One', sans-serif;
	font-size: 130%;
	text-shadow: 5px 5px 10px rgba(0,0,0,.2);
}

a.profile:hover {
	text-decoration: underline;
	border-radius: 5px;
	text-shadow: none;
}
