.aside-2 {
  padding: 20px;
  padding-top: 8px;
  width: 60%;
  overflow-y: scroll;
}

.aside-3 {
  padding: 20px;
  padding-top: 8px;
  width: 40%;
}

div.listing-thumbnails {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

img.listing-image {
  width: 100%;
  height: auto;
  margin: auto;
}

img.listing-thumbnail {
  height: 90px;
}

h1.listing {
  text-transform: capitalize;
  font-size: 130%;
  font-family: 'Fjalla One', sans-serif;
}

a.book {
  position: relative;;
  top: 20px;
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #5AB475;
  color: white;

  cursor: pointer;
  padding: 6px 24px;
  text-decoration: none;
  font-size: 130%;
  box-shadow: 3px 3px 3px #888888;
}

a.book:active {
  box-shadow: none;
}

.total {
  font-family: 'Fjalla One', sans-serif;
  font-size: 110%;
  text-decoration: underline;
}

.listing-star-rating {

}

.calendar {
  position: absolute;
  z-index: 999;
}
