.aside-2 {
  padding: 20px;
  padding-top: 8px;
  width: 60%;
  overflow-y: scroll;
}

.aside-3 {
  padding: 20px;
  padding-top: 8px;
  width: 40%;
  overflow-y: scroll;
}

div.listing-thumbnails {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

img.main-listing-image {
  width: 100%;
  height: 100%;
  margin: auto;
}

img.listing-thumbnail {
  height: 90px;
  cursor: pointer;
}

img.listing-thumbnail:hover {
  height: 90px;
  transform: translate3d();
}

h1.listing-title {
  font-size: 130%;
  font-family: 'Fjalla One', sans-serif;
  cursor: default;
}

a.book {
  position: relative;;
  top: 20px;
  left: 20px;
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #5AB475;
  color: white;

  cursor: pointer;
  padding: 6px 24px;
  text-decoration: none;
  font-size: 130%;
  box-shadow: 3px 3px 3px #888888;
}

a.disabled {
  cursor: not-allowed;
  background-color: grey;
  box-shadow: none;
  pointer-events: none;
}

a.book:active {
  box-shadow: none;
}

.total {
  font-family: 'Fjalla One', sans-serif;
  font-size: 110%;
  text-decoration: underline;
}

.calendar {
  position: fixed;
  z-index: 999;
}

.pointer {
  cursor: pointer;
}

.listing-errors {
  color: red;
}

.success-booking {
  color: green;
  font-size: 120%;
  text-decoration: underline;
}

b.listing-sub-header {
  font-family: 'Fjalla One', sans-serif;
}

table, th, td, tr {
  padding: 10px;
  width: 100%;
}

table.selection-menu {
  table-layout: fixed;
  width: 100%;
}

table.selection-menu td:first-child {
  width: 90px;
}

table.selection-menu td:last-child {
  text-align: right;
  padding-right: 130px;
}

table.selection-menu td {
  padding: 20px;
}

.user-review-rating {
  position: relative;
  left: -27px;
  top: 5px;
  transform: scale(0.7, 0.7);
}

.rental-date {
  margin: 10px;
}

.bold {
  font-family: 'Fjalla One', sans-serif;
}
