.flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  background-image: image-url("bg.jpg");
  background-size: cover;
}
// background-image: url(http://res.cloudinary.com/dkympkwdz/image/upload/c_scale,f_auto,w_2400/v1484101500/3jzew3rtg6e-chris-brignola_m6qzzy.jpg);

.title {
  font-size: 300%;
}

.fa {
  margin: 0;
  padding-right: 15px;
  border: 0;
}

.welcome {
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: grey;
  text-decoration: none;
  background-color: #5AB475;
  color: white;

  position: absolute;
  top: 50%;
  left: 40%;
	display: inline-block;
	padding: 6px 24px;
	text-decoration: none;
  font-size: 130%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

a.welcome {
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: grey;
  text-decoration: none;
  background-color: #5AB475;
  color: white;

  position: absolute;
  top: 50%;
  left: 46%;
	display: inline-block;
	cursor: pointer;
	padding: 6px 24px;
	text-decoration: none;
  font-size: 130%;
  box-shadow: 3px 3px 3px #888888;
  transition-duration: 30ms;
}

a.welcome:hover {
	background-color: #42CC42;
  box-shadow: none;
}
