.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 220px;
  height: 240px;
  overflow: scroll;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  border-radius: 15px;
  outline: none;
  padding: 20px;
}

div.entrance.flex {
  display: flex;
  justify-content: space-between;
}

div.errors {
  position: absolute;
  top: 15%;
  left: 33%;
  width: 400px;
  overflow: scroll;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  border-radius: 15px;
  outline: none;
  padding: 20px;
  transition-duration: 1500ms;
  z-index: 99;
}

div.demo {
  justify-content: space-between;
  margin: auto;
}

div.login {
  margin: auto;
}

a.signup {
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: grey;
  text-decoration: none;
}

a.login {
  padding-right: 38px;
  padding-left: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: grey;
  text-decoration: none;
}

a.activeEntranceLink {
  background-color: #5AB475;
  color: white;
}

h1.entrance {
  font-family: 'Roboto', sans-serif;
  color: grey;
  text-align: center;
}

input[type=radio] {
  // visibility: hidden;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password]{
  width: 200px;
  height: 39px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px;
  font-size: 90%;
}

input[type=password]{
  margin-bottom: 25px;
}

button.entrance {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color: #69D946;
	border-radius: 6px;
	border: 1px solid #FFFFFF;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 6px 24px;
	text-decoration: none;
  font-size: 100%;
}

button.demo {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color: #FF0000;
	border-radius: 6px;
	border: 1px solid #FFFFFF;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 6px 20px;
	text-decoration: none;
  font-size: 100%;
}

button.entrance:hover {
  background-color: #42CC42;
}
