.hidden {
	display: none;
}

.main-nav {
	display:flex;
	justify-content: space-between;
	padding-top: 0;
	padding-bottom: 15px;
	padding-left: 30px;
	border-bottom: 1px solid grey;
	height: 80px;
	top: 0;
	transition: top 0.2s ease-in-out;
	width: 100%;
}

.nav-up {
  top: -100px;
}

.main-section {
  padding-top: 100px;
}

input.searchbar {
  width: 450px;
  height: 39px;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 30px;
  font-size: 110%;
}

nav.middle-nav {
  position: relative;
	top: 12px;
  left: -80px;
}

nav.left-nav {
  position: relative;
  top: 18px;
}

nav.right-nav {
  position: relative;
  top: 35px;
	right: 40px;
}
