.hidden {
	display: none;
}

.website-title {
  font-size: 300%;
	text-decoration: none;
	color: black;
}

.main-nav {
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
  width: 1050px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid grey;
	height: 60px;
	top: 0;
	transition: top 0.2s ease-in-out;
	z-index: 999;
}

.nav-up {
  top: -100px;
}

.main-section {
  padding-top: 0px;
}

input.searchbar {
	background-color: rgba(255, 255, 255, 0);
  width: 80%;
  height: 27px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2);
  border: solid 1px #61C261;;
  margin-left: -5px;
  margin-top: 15px;
  padding-left: 20px;
  font-size: 110%;
}

nav.middle-nav {
	overflow-x: scroll;
  position: relative;
  min-width: 400px;
	top: 13px;
}

nav.left-nav {
	width: 20%;
  position: relative;
  top: 6px;
}

nav.right-nav {
  position: relative;
  top: 24px;
	text-align: right;
}

div.logo {
	height: 90px;
	width: 230px;
	position: relative;
	top: -20px;
	background-image: url(http://res.cloudinary.com/dkympkwdz/image/upload/v1484882090/Youbiquity_logo_kuiu0f.png);
	background-size: cover;
}

.fa-search, .fa-user-o, .fa-power-off {
	color: #61C261;
	transform: scale(90%);
}

.fa-power-off {
	color: red;
}

.pointer {
	cursor: pointer;
}

div.fa {
	text-align: left;
  position: relative;
  right: 10px;
  width: 130px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 10px;
	background-color: #4D66A5;
	color: white;
	box-shadow: 1px 2px 15px rgba(79,197,79,.3);
	border: 1px solid white;
}

div.fa:hover {
	box-shadow: none;
	background-color: #5AB475;
}

.fa-user-circle {
	font-size: 2em;
	position: relative;
	left: 55px;;
}

.fa-power-off {
	font-size: 2em;
	position: relative;
	left: 20px;;
}

b.underline {
	text-decoration: underline;
}
