.TG-enter {
  opacity: 0.01;
}

.TG-enter.TG-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.TG-leave {
  opacity: 1;
}

.TG-leave.TG-leave-active {
  opacity: 0.01;
  transition: opacity 1300ms ease-in;
}

.TG-appear {
  opacity: 0.01;
}

.TG-appear.TG-appear-active {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
