img.listing-thumbnail {
  position: relative;
  top: 25px;
}

.listing-selected {
  cursor: pointer;
  transition: all .2s ease-in-out;
  background: green;
  padding: 10px;
  color: white;
  z-index: 999;
  border-radius: 10px;
  width: 135px;
  height: 220px;
  font-size: 85%;
  margin: 0;
  border: 0;
  text-decoration: none;
}
